<!DOCTYPE html>
<html>
<head>
    <title>가수와 작곡가의 만남 - <%= row.title %></title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="../assets/favicon.ico" />
    <!-- Bootstrap icons-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" type="text/css" />
    <!-- Google fonts-->
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="/css/styles.css?after" rel="stylesheet" />
    <script src="https://code.jquery.com/jquery-3.6.0.slim.js" integrity="sha256-HwWONEZrpuoh951cQD1ov2HUK5zA5DwJ1DNUXaM6FsY=" crossorigin="anonymous"></script>
    <link href="https://vjs.zencdn.net/7.10.2/video-js.css" rel="stylesheet" />
    <script src="https://vjs.zencdn.net/7.10.2/video.min.js"></script>
    <link href="https://unpkg.com/@silvermine/videojs-quality-selector/dist/css/quality-selector.css" rel="stylesheet">
    <script src="https://unpkg.com/@silvermine/videojs-quality-selector/dist/js/silvermine-videojs-quality-selector.min.js"></script>
    <style>
        .video-js .vjs-big-play-button {
        background-color: #B37D5B;
        opacity: .6;
        }
    </style>
</head>
<body>
    <!-- Navigation-->
    <nav class="navbar navbar-light bg-light static-top">
        <div class="container">
            <a class="navbar-brand" href="/main">가수와 작곡가의 만남</a>
            <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
                <li><a href="/about" class="nav-link px-2 link-dark">About</a></li>
                <li><a href="/board" class="nav-link px-2 link-dark">게시판</a></li>
                <li><a href = "javascript:;" onclick = "window.open('/chat','파일 업로드','width=500, height=801, toolbar=no,location=yes,status=no,menubar=no,scrollbars=yes,resizable=no');" class="nav-link px-2 link-dark">채팅</a></li>
                <li><a href="http://khuhub.khu.ac.kr/2017104034/Singer-Composer" target="_blank" class="nav-link px-2 link-dark">사이트 git</a></li>
            </ul>
            <div class="user">
                <a href = "/profile"> <%=nickname%></a><a>님 안녕하세요</a>
                <a class="btn btn-primary" href="/logout">로그아웃</a>
            </div>
        </div>
    </nav>
    <%
    var addr;
    %>
    <div class="container px-5 my-5">
        <h1><%= title %></h1>
        <%
        switch(title){
            case '공지사항 글 상세':
                addr = 'notice';
                break;
            case '작곡가 구인 글 상세':
                addr = 'composer';
                break;
            case '가수 구인 글 상세':
                addr = 'singer';
                break;
            case '자유게시판 글 상세':
                addr = 'free';
                break;
            case '건의사항 글 상세':
                addr = 'suggestion';
                break;
        %>
        <%
        }
        %>
        <script>
            function submit2(frm){
                frm.action="/board/delete/<%=addr%>";
                frm.submit();
                return true;
            }
        </script>
        <form action="/board/update/<%=addr%>" method="post">
            <table border="1">
                <input type="hidden" name="idx" value="<%=row.idx%>"/>
                <tr>
                    <td>작성자</td>
                    <td><%=row.nickname%></td>
                </tr>
                <tr>
                    <td>제목</td>
                    <td><input type="text" name="title" id="title" value="<%=row.title%>" required/></td>
                </tr>
                <tr>
                    <td>내용</td>
                    <td><textarea name="content" id="content" cols="30" rows="10" required><%=row.content%></textarea></td>
                </tr>
                <tr>
                    <td>사진 및 동영상</td>
                    <td>
                        <div class="bx_group">
                            <a class = "bx_content">
                                <%
                                    for(var i=0; i<picarr_length;i++){
                                        var picdata = picarr[i]
                                %>
                                    <img src="<%=picdata%>" width = "250" height = "250" alt="...">  
                                    
                                <%
                                    }
                                %>
                                <%
                                for(var i=0; i<vidarr_length;i++){
                                    var viddata = vidarr[i]
                                    
                                %>
                                <video id="video_<%=i%>" class="video-js vjs-big-play-button vjs-big-play-centered vjs-fluid" controls preload="auto" width="1000" height="450" data-setup='{}'>
                                    <source src="<%=viddata%>" type="video/mp4" label="720P" selected="true">
                                </video>
                                <%
                                    }
                                %>
                                
                            </a>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>변경일</td>
                    <td><%=row.modidate%></td>
                </tr>
                <tr>
                    <td>등록일</td>
                    <td><%=row.regdate%></td>
                </tr>
                <tr>
                    <td>조회수</td>
                    <td><%=row.hit+1%></td>
                </tr>
                <tr>
                    <td colspan="3">
                        <button type="submit">글 수정</button>
                        <button type="summit" onclick="return submit2(this.form);">글 삭제</button>
                        <a href="/board/list/<%=addr%>">
                            <input type="button" value="목록">
                        </a>
                    </td>
                </tr>
            </table>
        </form>
    </div>
    <div class="container px-5 my-5">
        <h1>댓글</h1>
        <script>
            function submit3(frm){
                frm.action="/board/read/<%=addr%>/commentdelete";
                frm.submit();
                return true;
            }
            function deleteit(buttonID){
                
            }
        </script>
        <form action="/board/read/<%=addr%>/commentwrite" method="post">
            <table border="1">
                <input type="hidden" name="idx" value="<%=row.idx%>"/>
                <tr>
                    <td>닉네임</td>
                    <td>내용</td>
                </tr>
                <%
                for(var i=0; i<comment_length; i++){
                    var data = comment[i]
                %>
                
                <tr>
                    <td><%=data.nickname%></td>
                    <td><%=data.comment%></td>
                    <td>
                        <form method ="post">
                            <input type="hidden" name="idxcomment" value="<%=data.idx%>"/>
                            <button type="button" onclick="return submit3(this.form);">댓글 삭제</button>
                        </form>
                    </td>
                </tr>
                <%
                }
                %>
                <tr>
                    <td><%=nickname%></td>
                    <td><textarea name="comment" id="comment" cols="30" rows="2" required></textarea></td>
                    <td colspan="2">
                        <button type="submit">댓글 쓰기</button>
                    </td>
                </tr>
            </table>
        </form>
    </div>
    <!-- Footer-->
    <footer class="footer bg-light">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 h-100 text-center text-lg-start my-auto">
                    <ul class="list-inline mb-2">
                        <li class="list-inline-item"><a href="/about">About</a></li>
                        <li class="list-inline-item">⋅</li>
                        <li class="list-inline-item"><a href="http://khuhub.khu.ac.kr/2017104034/Singer-Composer" target="_blank">사이트 git</a></li>
                        <li class="list-inline-item">⋅</li>
                        <li class="list-inline-item"><a href="http://ce.khu.ac.kr/">경희대학교 컴퓨터공학과</a></li>
                        <li class="list-inline-item">⋅</li>
                        <li class="list-inline-item"><a href="http://geo.khu.ac.kr/">경희대학교 지리학과</a></li>
                    </ul>
                    <p class="text-muted small mb-4 mb-lg-0">&copy; Mukho 2021. All Rights Reserved.</p>
                </div>
                <div class="col-lg-6 h-100 text-center text-lg-end my-auto">
                    <ul class="list-inline mb-0">
                        <li class="list-inline-item me-4">
                            <a href="#!"><i class="bi-facebook fs-3"></i></a>
                        </li>
                        <li class="list-inline-item me-4">
                            <a href="#!"><i class="bi-twitter fs-3"></i></a>
                        </li>
                        <li class="list-inline-item">
                            <a href="#!"><i class="bi-instagram fs-3"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
</body>
</html>